/.DS_Store
/cleaned_data.json
/downloaded_pages
index/_5.cfe
index/_5.cfs
index/_5.si
index/_f.cfe
index/_f.cfs
index/_f.si
index/_g.cfe
index/_g.cfs
index/_g.si
index/_h_Lucene90_0.doc
index/_h_Lucene90_0.pos
index/_h_Lucene90_0.tim
index/_h_Lucene90_0.tip
index/_h_Lucene90_0.tmd
index/_h.fdm
index/_h.fdt
index/_h.fdx
index/_h.fnm
index/_h.nvd
index/_h.nvm
index/_h.si
index/_i.cfe
index/_i.cfs
index/_i.si
index/_j.cfe
index/_j.cfs
index/_j.si
index/_k.cfe
index/_k.cfs
index/_k.si
index/_m.cfe
index/_m.cfs
index/_m.si
index/_n.cfe
index/_n.cfs
index/_n.si
index/_o.cfe
index/_o.cfs
index/_o.si
index/segments_1
index/segments_i
index copy/_f.cfe
index copy/_f.cfs
index copy/_f.si
index copy/_g.cfe
index copy/_g.cfs
index copy/_g.si
index copy/_h_Lucene90_0.doc
index copy/_h_Lucene90_0.pos
index copy/_h_Lucene90_0.tim
index copy/_h_Lucene90_0.tip
index copy/_h_Lucene90_0.tmd
index copy/_h.fdm
index copy/_h.fdt
index copy/_h.fdx
index copy/_h.fnm
index copy/_h.nvd
index copy/_h.nvm
index copy/_h.si
index copy/segments_c
index copy/write.lock
processed_data.json/_SUCCESS
processed_data.json/._SUCCESS.crc
processed_data.json/.part-00000-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json.crc
processed_data.json/.part-00007-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json.crc
processed_data.json/.part-00008-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json.crc
processed_data.json/.part-00012-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json.crc
processed_data.json/.part-00027-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json.crc
processed_data.json/part-00000-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json
processed_data.json/part-00007-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json
processed_data.json/part-00008-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json
processed_data.json/part-00012-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json
processed_data.json/part-00027-9fa66cef-69eb-4de5-9210-993d31f0d559-c000.json
enwiki-latest-pages-articles1.xml-p1p41242
test_data.xml
__pycache__/clean_and_process.cpython-312.pyc
__pycache__/clean_and_process.cpython-312.pyc
